body{
    background-color: #EEF9BF;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 57%;
    margin: auto;
}

.title {
    font-size: 56px;
    color: #75B79E;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.cards-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 47px;
}

.card {
 
    height: 146px;
    width: 117px;
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
 


}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #99CEA8;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;

}

.card-front {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #99CEA8;
}



.back-face {
    transform: rotateY(180deg);
  }

  .front-face {
    transform: rotateY(0deg);
  }

 .card:active .back-face {
    transform: rotateY(0deg);
  }

.card:active .front-face {
    transform: rotateY(180deg);
    cursor: auto;
  }


.face > img {
    height: 100px;
    width: 100px;
}

.front-face:hover {
    cursor: pointer;
}




.clock {
    background-color: purple;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: fixed;
    right: 40px;
    top: 40px;
}


@media (max-width: 767px){
    .title {
        font-size: 36px;
    }

    .cards-list {
        flex-direction: column;
    }

    .card {
        margin-right: 0;
    }
}

@media (max-width: 530px){
    .clock {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        font-size: 30px;
        right: 10px;
        top: 10px;
    }

    .title {
        margin-top: 60px;
    }
}
